.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;

  &:focus {
    outline: none;
  }
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
